# MongoDB Connection 
MONGODB_URI=mongodb+srv://journalistjitendrasoni_db_user:Lokswami%405454@zaidsherylokswami1.udpvryn.mongodb.net/lokswami?retryWrites=true&w=majority

# Cloudinary media storage (required for uploads in production)
CLOUDINARY_CLOUD_NAME=dlbm7spoi
CLOUDINARY_API_KEY=868947691652475
CLOUDINARY_API_SECRET=G2ljblGyjHyIrB9MGPAJbhYOsWU

JWT_SECRET=qwertyuiopasdfghjklzxcvbnm123456

ADMIN_USERNAME=zaid@123

ADMIN_PASSWORD_HASH=$2a$10$QZMKmGljKyd9kDS/MVLQSOn3MBZBWjjYCmLRuVF9umLLn5aB/UrK.


